<<<<<<< HEAD
=======
#p1 {
    background-color: red;
}
#p2 {
   background-color: blue;
}
#p3 {
 background-color: yellow;
}
#p4 {
    background-color: rgb(236, 98, 195);
}
>>>>>>> 99daef322c0dca6aebb28d2b1e2750e70d9d10c7
